<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to Spring Boot Web Application</title>
    <th:block th:include="headerinc :: head"></th:block>
</head>
<body>
<div class="container">
    <th:block th:include="header :: header"></th:block>

    <div th:if="${param.error}">
        <label class="error">Invalid username and password.</label>
    </div>

    <div th:if="${not #strings.isEmpty(sessionLimit)}">
        <small class="error" th:text="${sessionLimit}"></small>
    </div>
    <small th:if="${not #strings.isEmpty(msg)}" th:text="${msg}" class="error"></small>
    <form th:action="@{/login}" method="post">

        <table class="table table-striped">
            <tr>
                <td><label> User Name : <input type="text" name="username" autofocus="autofocus" th:value="admin"/> </label></td>
            </tr>
            <tr>
                <td><label> Password : <input type="password" name="password" th:value="password"/> </label></td>
            </tr>
            <tr>
                <td><label> Remember me : <input type="checkbox" name="remember-me"/> </label></td>
            </tr>
            <tr>
                <td> <button type="submit" class="btn btn-default">Sign In</button></td>
            </tr>
        </table>

    </form>
</div>
</body>
</html>